* {
    box-sizing: border-box;
}

h3,
h4,
p,
body {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #E0E8FF;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.red-hat-display-medium {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.red-hat-display-bold {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.red-hat-display-black {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

article {
    width: 450px;
    height: 697px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;

}

.content {
    padding-top: 45px;
    padding-right: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    text-align: center;
}

h3 {
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #1F2E55;
    margin-bottom: 17px;
}

.content>p.red-hat-display-medium {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #717FA6;
    margin-bottom: 20px;
}

.info {
    width: 354px;
    height: 98px;
    background: #F7F9FF;
    border-radius: 11px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    padding: 25px 24px;
}

.info img {
    margin-right: 24px;
}

.info p {
    margin-bottom: 6px;
}

.info button {
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #382AE1;
    border: none;
    padding: 0;
    background-color: transparent;
    margin-left: auto;
    transition: all 0.5s ease;
}

.info button:hover {
    color: #766CF1;
    text-decoration: none;
}

button[type="submit"] {
    background: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
    width: 354px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 32px;
    outline: none;
    border: none;
    transition: all 0.5s ease;
}

button[type="submit"]:hover {
    background-color: #766CF1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

button[type="reset"] {
    font-size: 15px;
    line-height: 20px;
    color: #717FA6;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: all 0.5s ease;
}

button[type="reset"]:hover {
    color: #1F2E55;
}

@media(max-width:450px) {

    /* This is an special part of style.css */
    article {
        width: 327px;
        height: 567px;
    }
    
    article>img {
        width: 100%;
    }
    
    .content {
        padding: 32px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info {
        width: 279px;
        height: 81px;
        padding: 16px;
        margin-bottom: 24px;

    }
    .info p {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .info button {
        font-size: 13px;

    }
    button[type="submit"] {
        width: 279px;
        height: 50px;
        margin-bottom: 24px;
    }